<!DOCTYPE html>
<html>

  <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width= device-width, initial-scale=1.0">

      <title>To Do List</title>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="style.css">

  </head>

  <body>

      <div class="container" id="app">

          <div class="wrap">

              <h1>To Do List</h1>

              <!-- Sezione con input e button Aggiungi -->
              <div id="top-section">
                  <input v-on:keyup.enter="addToDo" v-model="inputText" type="text" placeholder="Scrivi una nuova attività">
                  <button @click="addToDo">Aggiungi</button>
              </div>

              <!-- Sezione con lista attività -->
              <div id="bottom-section">

                <ul>
                    <li v-for="(todo, indexToDo) in toDoText" @click="toDoCheck" :class="done == true? 'done': 'to-do' " >
                        {{todo}}

                        <i class="fa-solid fa-xmark" @click="removeToDo(indexToDo)"></i>   
                    </li>
                </ul>

              </div>
              
          </div>

      </div>

      <!-- JAVASCRIPT -->      
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <script type="text/javascript" src="main.js"></script>
  </body>

</html>